<h1><%= @poll.name %></h1>
<h4>Link to poll: <%= "#{request.host}:#{request.port}#{new_response_path({:id => @poll.id})}" %></h4><br />

<%= link_to "Results", poll_path(@poll) %>

<div class="row">
    <div class="span6">
        <%= form_for(@poll) do |f| %>
            <p>
                <p>Poll Name</p>
                <%= f.text_field :name %>
            </p>
                <%= f.hidden_field :edit_link %>

        
            <% @questions.each do |question| %>
                <p>
                <%= question.question %>
                <%= link_to "Edit", edit_question_path(question)%> | 
                <%= link_to "Delete", question_path(question), :method => :delete %>
            </p>
            
            <% end %><br />
            
            <p>
                <%= f.submit class: "btn btn-success btn-large" %>
            </p>
        <% end %>
    </div>
    <div class="span6">
        <%= form_for(@question) do |q| %>
            <p>
                <p>Add Question</p>
                <%= q.text_field :question, :placeholder => "What's your question?" %>
            </p>
            <%= q.hidden_field :poll_id %>
    
            <p>
                <%= q.submit "Add Question",class: "btn btn-success btn-large" %>
            </p>
        <% end %>
        
    </div>
</div>